#c1,
#c2,
#c3 {
    width: 100%;
    height: 500px;
}
#card1,
#card2,
#card3 {
    margin-top: 50px;
    height: 400px;
    width: 300px;
    padding: 10px;
}
h3{
    align-items: center;
}